.btn {
  border: 1px solid #2c2e35;
  padding: 4px 19px 4px 19px;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 900px;
  background: white;
  font-weight: 500;
  font-size: 16px;
  text-transform: capitalize;
  transition: 0.3s ease all;
  cursor: pointer;
  width: fit-content;
}

.btn:hover {
  border-radius: 0px;
  transition: 0.3s ease all;
}
