.solutions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 30px;
  align-items: center;
}

.leftContainer {
  display: flex;
  flex-direction: column;
}

.leftContainer h2 {
  font-size: 4.5rem;
  line-height: 130%;
  margin: 0;
  font-weight: 500;
}

.leftContainer p {
  font-size: 13;
  font-weight: 400;
  margin-block: 15px 40px;
}

.rightContainer img {
  width: 100%;
  max-height: 430px;
}

@media screen and (max-width: 1200px) {
  .solutions {
    grid-template-columns: 1fr;
  }
  .rightContainer {
    order: 1;
  }
  .leftContainer {
    order: 2;
    text-align: center;

    align-items: center;
    justify-content: center;
  }
  .rightContainer img {
    max-width: 600px;
  }
  .rightContainer {
    margin-inline: auto;
  }
}

@media screen and (max-width: 991px) {
  .leftContainer h2 {
    font-size: 4rem;
  }
}

@media screen and (max-width: 767px) {
  .leftContainer h2 {
    font-size: 3rem;
  }
}

@media screen and (max-width: 576px) {
  .leftContainer h2 {
    font-size: 2.5rem;
  }
}
